*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: #000000;
}

main.main-content {
  background-color: #ffffff;
}

header.menu__header {
  width: 100vw;
  height: 100vh;

  display: grid;
}

h1.menu__title {
  text-align: center;
  line-height: 4rem;
  color: white;
}

ul.menu__list {
  text-align: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

li.menu__item {
  list-style: none;
  text-transform: uppercase;
  line-height: 2.5rem;
}

a.menu__link {
  text-decoration: none;
  color: white;
}
